{% extends "_layout.html" %}
{% block content %}

<h1 class="text-center">Upload Your Images</h1>

<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center mx-auto">

            <form action="{{ url_for('images.upload') }}" method="POST" enctype="multipart/form-data">
                <label for="image">Upload Your Images</label>
                <br></br>
                <input type="file" name="user_file" class="mx-auto">
                <br></br>
                <button type="submit">Upload</button>
            </form>

            <div style="height: 250px; width: 250px; border: 2px solid; border-color: black;">Preview</div>
        </div>
    </div>
</div>

{% endblock %}