{% extends "_layout.html" %}
{% block header %}
<style>

@import 'https://code.highcharts.com/css/highcharts.css';

#container {
	height: 400px;
	max-width: 800px;
	min-width: 320px;
	margin: 0 auto;
}
.highcharts-pie-series .highcharts-point {
	stroke: black;
	stroke-width: 2px;
}
.highcharts-pie-series .highcharts-data-label-connector {
	stroke: silver;
	stroke-dasharray: 2, 2;
	stroke-width: 2px;
}
    
</style>

<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/static.mlh.io/blog-code/2018-02-clarifai-nutrition-app/app.css" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Archivo+Black">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

{% endblock %}
{% block content %}


    <div id="container-fluid">
        
        <div id="sidebar" style="border: 1px solid black">
            <h1 class="text-center">Track your health.</h1>
            <p class="text-center">Upload a photo of your meal & get the nutritional breakdown.</p>
        <br>

            <form action="#">
                <input type="file" id="filename"  placeholder="Filename" size="100"/>
                <button class="btn btn-outline-info" onclick="predict_click($('#filename').val(), 'file'); return false;">Get my Nutritional Breakdown!</button>
            </form>

            
            <div id="predictions">
                <div class="food-photo">
                    <div class="step"><span>1</span> Upload a Photo</div>
                </div>

                <div class="nutrition">
                    <div class="step"><span>2</span> Get a Nutritional Breakdown</div>
                    <div id="concepts"></div>
                    <button id="save-results" class="btn btn-success">Show Results</button>
                </div>
            </div>

        </div>


            <div class="powered-by">
                <!-- <p> Powered by <img src="https://pbs.twimg.com/profile_images/973226386486829057/a_xn4grB_400x400.jpg" alt="Clarifai" /> Clarifai</p> -->
                <p> If no image to upload, click <a href=" {{ url_for('foods.new') }}"> here</a> to key in food. </p>
            </div>
           
        </div>

        <div id="nutrition-info" role="alert">
            <div id="nutrition-column" ></div>
        </div>


                         
                            </div>
                        </div>
                </div>
         </div>
    </div>
</div>

<script>
        let myClarifaiApiKey = '068aa83b2a734fdd9275ab8a7dd0d66a';
        let chosenConcepts = []
        let loader  = "https://ui-ex.com/images/transparent-background-loading.gif";
        
        $('#filename').change(() => {
            $('#concepts').html('')
        })
        
        let app = new Clarifai.App({apiKey: myClarifaiApiKey});
        app.models.initModel({id:Clarifai.FOOD_MODEL})
        
        function predict_click(value, source) {
            let preview = $(".food-photo");
            let file    = document.querySelector("input[type=file]").files[0];
            let loader  = "https://s3.amazonaws.com/static.mlh.io/icons/loading.svg";

            let reader  = new FileReader();
        
          // load local file picture
            reader.addEventListener("load", function () {
                preview.attr('style', 'background-image: url("' + reader.result + '");');
                doPredict({ base64: reader.result.split("base64,")[1] },queryFood);
            }, false);
            console.log(reader)
        
            if (file) {
                reader.readAsDataURL(file);
                $('#concepts').html('<img id="img-loader" src="' + loader + '" class="loading" />');
            } else { alert("No file selcted!"); }
        }
        
        function doPredict(value,callback) {
            console.log(value)
            app.models.predict(Clarifai.FOOD_MODEL, value).then(function(response) {
                console.log(response)
                if(response.rawData.outputs[0].data.hasOwnProperty("concepts")) {
                    let concepts = response.rawData.outputs[0].data.concepts;
        
                    if (concepts.length > 10){
                        concepts = concepts.slice(0, 9)
                    }
        
                    concepts.map((concept) => {
                        $('#img-loader').remove()
                        $('#concepts').append(`<li style="list-style: none;"><input class="concepts-check" type="checkbox" value="${concept.name}">${concept.name}</input></li>`);
                    })
                    console.log(concepts)
                    callback()
        
                }
            });
        }

        $('#save-results').click(() => {
            $('#nutrition-info').html('<img id="img-loader" src="' + loader + '" class="loading d-block mx-auto" style="margin-top: 200px; margin-bottom: 200px;" />')
            let form = document.getElementById('query').value
            if (form != ""){
                chosenConcepts.push(form)
            }
            $('input[type=checkbox]').each(function(){
                let value;
                if (this.checked){
                    value = $(this).val()
                    chosenConcepts.push(value)
                }
            })
            sentData(chosenConcepts,dailyIntake)
            dailyIntake(chosenConcepts)
            console.log(chosenConcepts)
        })
        
        let ttlSugar = []
        let ttlFat = []
        function sentData(concepts,callback){
            fetch("http://localhost:5000/images/check", {
                method: "POST",
                body: JSON.stringify(concepts),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then((response) => response.json())
            .then((response) => {
                console.log(response);
                $('#img-loader').remove()
                results = response.results
                results.map((result)=>{
                    $('#nutrition-info').append(`
                    <div id="info" style="width: 50%; display:flex-wrap; background: white">
                    <div itemscope="" itemtype="http://schema.org/NutritionInformation" class="nutritionLabel" style="width: 300px; background: white;">
                    <div class="title" tabindex="0">Nutrition Facts</div>
                    <div class="cf">
                    
                    <div class="name inline" style="text-transform: capitalize" tabindex="0"> ${result.item} </div>
                    
                    <div class="bar1"></div>
                    <div class="line m" tabindex="0"><strong>Amount Per Serving</strong></div>
                    <div class="line">
                    <div class="fr" tabindex="0">
                    Calories from Fat ${result.data['hits'][0]['fields']['nf_calories_from_fat']} </div>
                    <div class="" tabindex="0">
                    <strong>Calories</strong> <span itemprop="calories"> ${result.data['hits'][0]['fields']['nf_calories']} </span></div>
                    </div>
                    <div class="bar2"></div>
                    <div class="line ar "><strong>% Daily Value<sup>*</sup></strong></div>
                    <div class="line" tabindex="0">
                    <div class="dv" aria-hidden="true"><strong></strong>%</div>
                    <strong>Total Fat</strong> <span itemprop="fatContent"> ${result.data['hits'][0]['fields']['nf_total_fat']} <span aria-hidden="true">g</span><span class="sr-only"> grams</span>
                    </span></div>
                    <div class="line indent" tabindex="0">
                    <div class="dv" aria-hidden="true"><strong></strong>%</div>
                    Saturated Fat <span itemprop="saturatedFatContent"> ${result.data['hits'][0]['fields']['nf_saturated_fat']}<span aria-hidden="true">g</span><span class="sr-only"> grams</span>
                    </span></div>
                    <div class="line indent" tabindex="0">
                    
                    <em>Trans</em> Fat <span itemprop="transFatContent"> ${result.data['hits'][0]['fields']['nf_trans_fatty_acid']} <span aria-hidden="true">g</span><span class="sr-only"> grams</span>
                    </span></div>
                    
                    <div class="line" tabindex="0">
                    <div class="dv" aria-hidden="true"><strong></strong>%</div>
                    <strong>Cholesterol</strong> <span itemprop="cholesterolContent"> ${result.data['hits'][0]['fields']['nf_cholesterol']} <span aria-hidden="true">mg</span><span class="sr-only"> milligrams</span>
                    </span></div>
                    <div class="line" tabindex="0">
                    <div class="dv" aria-hidden="true"><strong></strong>%</div>
                    <strong>Sodium</strong> <span itemprop="sodiumContent"> ${result.data['hits'][0]['fields']['nf_sodium']} <span aria-hidden="true">mg</span><span class="sr-only"> milligrams</span>
                    </span></div>
                    <div class="line" tabindex="0">
                    <div class="dv" aria-hidden="true"><strong></strong>%</div>
                    <strong>Total Carbohydrates</strong> <span itemprop="carbohydrateContent">${result.data['hits'][0]['fields']['nf_total_carbohydrate']} <span aria-hidden="true">g</span><span class="sr-only"> grams</span>
                    </span></div>
                    <div class="line indent" tabindex="0">
                    Sugars <span itemprop="sugarContent"> ${result.data['hits'][0]['fields']['nf_sugars']} <span aria-hidden="true">g</span><span class="sr-only"> grams</span>
                    </span></div>
                    <div class="line indent" tabindex="0">
                        <div class="dv" aria-hidden="true"><strong></strong>%</div>
                        Dietary Fiber <span itemprop="fiberContent"> ${result.data['hits'][0]['fields']['nf_dietary_fiber']} <span aria-hidden="true">g</span><span class="sr-only"> grams</span>
                        </span>
                    </div>
                    <div class="line" tabindex="0">
                        <strong>Protein</strong> <span itemprop="proteinContent"> ${result.data['hits'][0]['fields']['nf_protein']} <span aria-hidden="true">g</span><span class="sr-only"> grams</span></span>
                    </div>
                    <div class="bar1"></div>
                    <div class="line vitaminA" tabindex="0">
                        <div class="dv">
                            ${result.data['hits'][0]['fields']['nf_vitamin_a_dv']} %</div>
                    Vitamin A
                    </div>
                    <div class="line vitaminC" tabindex="0">
                        <div class="dv">
                            ${result.data['hits'][0]['fields']['nf_vitamin_c_dv']} %</div>
                    Vitamin C
                    </div>
                    <div class="line calcium" tabindex="0">
                        <div class="dv">
                            ${result.data['hits'][0]['fields']['nf_calcium_dv']} %</div>
                    Calcium
                    </div>
                    <div class="line iron" tabindex="0">
                        <div class="dv">
                            ${result.data['hits'][0]['fields']['nf_iron_dv']} %</div>
                        Iron
                    </div>
                    <div class="dvCalorieDiet line">
                        <div class="calorieNote">
                            <span tabindex="0"><span class="star" aria-hidden="true">*</span> Percent Daily Values are based on a 2000 calorie diet.</span>
                            <br>
                            <div class="ingredientListDiv" tabindex="0">
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
                    </div>

                    <div id="chart-container-${result.item}" style="width: 50%"></div>

                    </div>


                    `)
                    
                    ttlSugar.push(result.data['hits'][0]['fields']['nf_sugars'])
                    ttlFat.push(result.data['hits'][0]['fields']['nf_saturated_fat'])

                    Highcharts.chart(`chart-container-${result.item}`, {
                        chart: {
                            plotBackgroundColor: null,
                            plotBorderWidth: null,
                            plotShadow: false,
                            type: 'pie'
                        },
                        title : {
                            text: 'Source of Calories'
                        },
                        tooltip: {
                            pointFormat: '{series.name}: <b>            {point.percentage:.1f}</b>'
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: true,
                                    format: '<b>{point.name}</  b>:           {point.percentage:.1f} '
                                }
                            }
                        },
                        series: [{
                            name: 'Foods',
                            colorByPoint: true,
                            data: [{
                                name: 'Protein',
                                y: result.data['hits'][0]['fields']     ['nf_protein'] ,
                                sliced: true,
                                selected: true
                            }, {
                                name: 'Fats',
                                y: result.data['hits'][0]['fields']     ['nf_total_fat'],
                            }, {
                                name: 'Carbohydrates',
                                y: result.data['hits'][0]['fields']         ['nf_total_carbohydrate'],
                            }]
                        }]
                    })
                });
                callback()

            })
        }

        function dailyIntake() {
            $('#nutrition-column').append(`
                <div id="dailyIntake" style=" margin: 0 auto"></div>
            `)
            const reducer = (accumulator, currentValue) => accumulator + currentValue;
            sumSugar = (ttlSugar.reduce(reducer,0));
            sumFat = (ttlFat.reduce(reducer,0));
          
            Highcharts.chart('dailyIntake', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Total Amount of Sugar and Saturated Fats'
                },
                subtitle: {
                    text: 'Click the columns to view versions. Source: <a href="http://statcounter.com" target="_blank">statcounter.com</a>'
                },
                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: 'Total gram'
                    }
                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.1f}g'
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
                },
                series: [
                    {
                        name: "Daily Consumption",
                        colorByPoint: true,
                        data: [
                            {
                                name: "Total Sugar",
                                y: sumSugar,
                            },
                            {
                                name: "Total Saturated Fat",
                                y: sumFat,
                            },
                        ]
                    }
                ],

});
        }

        
        // saveRsltBtn.addEventListener('click', () => sentData(chosenConcepts))
        
        function queryFood() {
            $('#concepts').append( 
                `<form action="{{ url_for('foods.search') }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="form-group">
                        <label for="item_name"> Did we miss out anything?  </label>
                        <input id="query" type="text" name="item_name" class="form-control" />
                        </div>
                </form>`)
        
            concepts.map((concept) => {
                $('#concepts').append(`${query.item_name}'`)
            })
        }
</script>

{% endblock %}

<!-- git checkout master -->
<!-- git pull origin master --rebase -->
<!-- git checkout <your branch> -->
<!-- git merge master -->

