{% macro navbar() %}
<style>
    #navbar {
        display: flex;
        background-color: black;
        transform: translateY(-100%);
        transition: transform .5s cubic-bezier(.4, 0, .2, 1);
    }

    .nav-container:hover #navbar {
        transform: translateY(0);
    }
</style>
<div class="nav-container">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('home') }}"><img
                src="https://www.sccpre.cat/mypng/detail/94-942114_healthy-food-food-icon-png-download-transparent-background.png"
                width="40px" height="40px" alt="sugar tracker" /> Sugar Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">


                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('about') }}"> About <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="navbar-item active">
                        <a class="nav-link" href="{{ url_for('users.show') }}">Sugarstats</a>
                    </li>

                    {% if current_user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('sessions.logout') }}">Log out</a>
                    </li>

                    {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('users.new') }}">Sign up</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href=" {{ url_for('sessions.new') }}">Log In</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>
</div>
{% endmacro %}