    #customBtn {
      display: inline-block;
      background: url('/static/btn_google_signin_light_focus_web@2x.png');
      color: #444;
      width: 190px;
      border-radius: 5px;
      border: thin solid #888;
      box-shadow: 1px 1px 1px grey;
      white-space: nowrap;
    }
    #customBtn {
      cursor: pointer;
    }