{% extends "_layout.html" %}
{% block content %}


<form class="form-horizontal" action="{{ url_for('users.change')}}" method="POST">
    <div class="col-sm-5">
        <h1> Update your details </h1>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="weight">Weight</label>
        <div class="col-sm-5">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input class="form-control" name="weight" placeholder="Enter weight in Kilo's">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="activity">Activity:</label>
        <div class="col-sm-5">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <select class="form-control" name="activity">
                <option>Very light</option>
                <option>Light</option>
                <option>Moderate</option>
                <option>Heavy</option>
                <option>Very Heavy</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

{% endblock %}