{% extends "_layout.html" %}
{% block content %}

<html>

<style>
    #showstats {
        box-shadow: 0px 0px 164px -5px rgba(232, 126, 33, 1);


    }
</style>

<head>
    <title class=>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
    </style>
</head>
<br>
<br>

<body>
    <div id="showstats" class='background container p-4'>

        <div class="row">
            <div class="col text-center">
                <h3>Daily Sugar intake</h3>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <p>You have consumed <b>{{ps}} % </b>of your daily dose of recommended sugars</p>
                <p> You have <b>{{sl}} grams </b>of sugar left to
                    consume</p>
            </div>
            <div class="col-6">
                <p>Sugar intake today: <b> {{sugar_amount}} grams</b></p>
                <p>Daily recommended sugar intake: <b>{{sugar_daily}} grams</b></p>
            </div>
        </div>

        <hr>
        <br>

        <div class="row">
            <div class="col text-center">
                <h3>Daily Calorie Intake</h3>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <p>You have consumed <b>{{pc}} % </b> of your recommended daily calories</p>
                <p> You have <b>{{cl}} calories </b>left to
                    consume</p>
            </div>
            <div class="col-6">
                <p>Calorie intake today: <b>{{calorie_amount}} calories</b></p>
                <p>Daily recommended calorie intake: <b>{{cal_intake}} calories</b></p>
            </div>
        </div>

        <br>
        <hr>

        <div class="row">
            <div class="col text-center">
                <h3>Info</h3>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <p>Your current weight is: <b>{{weight}} kg</b></p>
                <p>Your current activity level is: <b>{{activity}}</b></p>
            </div>
            <div class="col-6">
                <p>Click <a href="{{url_for('users.info')}}"><b>here</b></a> to change your weight </p>
                <p>and/or
                    activity
                    level</p>
            </div>
        </div>

    </div>
</body>


</html>

{% endblock %}